*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.body{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    /* background-color: red; */
}
.login{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 50px;
}
.dn_dk{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dn_dk .active{
    background-color: #03599D;
    color: #fff;
    font-weight: bold;
    cursor: context-menu;
}

button{
    cursor: pointer;
}
.dn_dk button{
    width: 100%;

    border: none;
    border-bottom: 2px solid grey;
    height: 50px;
    font-size: 20px;

}
.form{
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.block{
    display: block;
}

.form span{
    font-size: 20px;
    margin: 10px 0;
}
.form input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 16px;
}
.form a{
    color: gray;
    font-size: 20px;

}

.form button{
    width: 30%;
    margin: 0 auto;
    background-color: #03599D;
    border: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
    margin-top: 50px;
}


/*Đăng ký*/

.form1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.info{
    width: 90%;
    margin-top: 10px;
    /* display: inline-block; */

}
.info span{
    font-size: 20px;
}
.info input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin: 10px 0;
    padding: 0 10px;
}
.form1 button{
    grid-column: span 2 / span 2;
    width: 30%;
    margin: 0 auto;
    background-color: #03599D;
    border: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
    margin-top: 50px;
}

.quenmk-hanhdong{
    display: flex;
    justify-content: space-around;
}
.quenmk-hanhdong a{
    width: 30%;
}
.quenmk-hanhdong button{
    width: 100%;
}