.price{
    background-image: url("https://files.betacorp.vn/files/ecm/2021/01/28/1920x2400-bang-gia-bac-giang-155923-280121-52.jpg");
    width: 80%;
    height: 1200px;
    background-size: 100% 100%;
    margin: 100px auto;
}