.lich-su-mua-ve{
    width: 70%;
    margin: 50px auto;
    border: 1px solid black;
}
.lich-su-mua-ve .nav{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}
.lich-su-mua-ve .Phim{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}