a{
    text-decoration: none;
    color: #ffffff;
}
.ghe{
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("https://www.betacinemas.vn/Assets/global/img/booking/seat-unselect-normal.png");
    position: relative;
    z-index: 1;
    margin-right: 5px;
}
.dachon {
    background-image: url("https://www.betacinemas.vn/Assets/global/img/booking/seat-select-normal.png");
}
.true{
    background-image: url("https://www.betacinemas.vn/Assets/global/img/booking/seat-buy-normal.png");
}
.chinh{
    position: absolute;
    left: 30%;
    bottom: 45%;
    z-index: 2;
}
.list-ghe{
    /* width: 550px; */
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0 70px;

}
.man-hinh-chieu{
    background-image: url("https://www.betacinemas.vn/Assets/global/img/booking/ic-screen.png");
    /* width: 550px; */
    height: 70px;
    background-size: 100% 100%;
    margin-bottom: 30px;
}
.mua-ve{
    display: flex;
    width: 80%;
    margin:100px auto;
    justify-content: space-between;
}
.phim-mua-ve{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 50px;

}
.phim-mua-ve img{
    height: 100%;
}
.ghe-mua-ve{
    width: 60%;
}
.tieu-de{
    width: 48%;
    /* border: 1px solid red; */
}
.anh-phim{
    width: 90%;
    height: 240px;
    background-size: 100% 100%;
}
.row{
    width: 100%;
    display: flex;
}
.du-lieu{
    width: 52%;
}
.du-lieu h2{
    font-size: 23px;
}

.btn-mua-ve{
    text-align: center;
    display: none;
}
.btn-mua-ve button{
    width: 228px;
    height: 38px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
    margin-top: 23px;

}